footer {
    color: $brown-light;
    height: 80px;
    width: 100%;

    a {
        color: $brown-light;
        font-size: 12px;
        font-weight: 300;
        height: inherit;
        line-height: 19px;

        transition: color 0.2s ease;

        &:hover {
            color: rgb(34, 17, 17);
        }
    }

    ul {
        align-items: center;
        display: flex;
    }

    .container.footer-container {
        display: flex;
        height: inherit;
    }

    .container {
        max-width: 1065px;
        padding: 0 15px 0 25px;
    }
}

.dot-separator {
    border-top: 1px dashed #979797;
}

.terms, .follow {
    align-items: center;
    display: flex;
    height: inherit;
}

.terms {
    width: 100%;

    li {
        margin-right: 20px;
    }
}

.follow {
    width: 150px;
    
    img {
        vertical-align: middle;

        &:active {
            transform: scale(0.95);
        }
    }

    li {
        white-space: nowrap;
        margin-right: 22px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .follow-us {
        font-size: 12px;
        font-weight: 300;
        line-height: 19px;
    }
}


/* Devices Styles Res: <= 1100px */

@media only screen and (max-width: 1100px) {
    footer {
        .container {
            padding: 0 20px;
        }
    }
}


/* Devices Styles Res: <= 490px */

@media only screen and (max-width: 510px) {

    footer {    
        .container.footer-container {
            display: flex;
            flex-direction: column;
            height: inherit;
        }
    }

    .terms {

        li:last-of-type {
            margin: 0;
        }

        a {
            white-space: nowrap;
        }
    }

    .follow {
        margin-bottom: 15px;
    }
}