#body-home {

    h2 {
        padding: 39px 0;
    }
}


/////* Speak Out window */////

.speak-out {
    background-color: #ebebeb;
    display: flex;
    justify-content: center;
    height: 100px;
    margin-top: 33px;
    min-width: 280px;
    overflow: hidden;

    transition: all 0.4s ease;
}

.speakout-becounted {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3px;
    padding: 0 10px 0 28px;
    width: 232px;

    span {
        color: $brown-dark;
        display: block;
        width: 232px;
    }

    span:first-of-type {
        font-size: 22px;
        line-height: 26px;
        font-weight: 300;
    }

    span:last-of-type {
        font-size: 37px;
        line-height: 42px;
        font-weight: 700;
    }
}

.speakout-cont {
    align-items: center;
    color: $brown-dark;
    display: flex;

    p {
        font-size: 15px;
        font-weight: 300;
        line-height: 23px;
        margin-bottom: 3px;
    }

    span {
        font-size: 22px;
        font-weight: 300;
        line-height: 26px;
    }
}

.speakout-close-cont {
    align-items: center;
    display: flex;
    justify-content: center;

    img {
        cursor: pointer;
        padding: 0 24px 0 15px;

        transition: all 0.1s ease;

        &:hover {
            -webkit-filter: contrast(4);
                    filter: contrast(4);
            transform: scale(1.1);
        }

        &:active {
            transform: scale(0.9);
        }
    }
}


/////* Submit a "Name" window */////

.submit-name-cont {
    background-image: url(./../../../assets/submit-bg.png);
    background-position: 0px -225px;
    background-size: cover;
    color: $brown-dark;
    height: 80px;
    margin-bottom: 40px;
    min-width: 280px;
    position: relative;
    width: 100%;
}

.white-submit-layer {
    background-color: rgba(255,255,255,0.85098);
    display: flex;
    height: inherit;
    position: absolute;
    width: 100%;
}

.submit-name-info, .submit-name-button {
    align-items: center;
    display: flex;
    height: inherit;
}

.submit-name-info {
    width: 100%;
    padding: 0 0 0 34px;

    p {
        font-size: 30px;
        font-weight: 300;
        line-height: 24px;
        margin-bottom: 3px;
    }
}

.submit-name-button {
    padding: 0 34px;

    button {
        background-color: rgba(255,255,255,0.14901);
        border: 3px solid $brown-dark;
        color: $brown-dark;
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
        height: 53px;
        line-height: 24px;
        width: 210px;
    }
}

/* Devices Styles Res: <= 1160px */

@media only screen and (max-width: 1160px) {
    #body-home {

        h2 {
            font-size: 30px;
            padding: 29px 0;
        }
    }
}


/* Devices Styles Res: <= 799px */

@media only screen and (max-width: 799px) {

    #body-home {

        h2 {
            font-size: 24px;
            padding: 20px 0;
        }
    }

    /////* Speak Out window */////

    .speak-out {
        height: 75px;
        margin-top: 25px;
    }
    
    .speakout-becounted {
        padding: 0 12px 0 21px;
        width: 178px;
    
        span {
            width: 174px;
        }
    
        span:first-of-type {
            font-size: 17px;
            line-height: 20px;
        }
    
        span:last-of-type {
            font-size: 28px;
            line-height: 31px;
        }
    }
    
    .speakout-cont {
    
        p {
            font-size: 13px;
            line-height: 17px;
        }
    
        span {
            font-size: 17px;
            line-height: 20px;
        }
    }
    
    .speakout-close-cont {
    
        img {
            padding: 0 18px 0 11px;
        }
    }

    
    /////* Submit a "Name" window */////

    .submit-name-cont {
        height: 60px;
        margin-bottom: 30px;
    }

    .submit-name-info {
        padding: 0 0 0 26px;

        p {
            font-size: 23px;
            line-height: 22px;
        }
    }

    .submit-name-button {
        padding: 0 26px;

        button {
            font-size: 16px;
            height: 40px;
            line-height: 18px;
            width: 158px;
        }
    }
}


/* Devices Styles Res: <= 635px */

@media only screen and (max-width: 635px) {

    #body-home {

        h2 {
            font-size: 22px;
            padding: 10px 0;
        }
    }

    /////* Speak Out window */////
    
    .speak-out {
        height: 66px;
        margin-top: 19px;
    }
    
    .speakout-becounted {
        padding: 0 9px 0 16px;
        width: 128px;
    
        span {
            width: 136px;
        }
    
        span:first-of-type {
            font-size: 12px;
            line-height: 15px;
        }
    
        span:last-of-type {
            font-size: 20px;
            line-height: 23px;
        }
    }
    
    .speakout-cont {
    
        p {
            font-size: 12px;
            line-height: 13px;
        }
    
        span {
            font-size: 13px;
            line-height: 15px;
        }
    }
    
    .speakout-close-cont {
    
        img {
            height: 13px;
            padding: 0 13px 0 8px;
        }
    }
}


/* Devices Styles Res: <= 540px */

@media only screen and (max-width: 540px) {

    /////* Speak Out window */////
    
    .speak-out {
        height: unset;
    }

    .speakout-cont {
    
        p {
            padding: 10px 0;
        }
    }

        
    /////* Submit a "Name" window */////

    .submit-name-cont {
        height: 45px;
        margin-bottom: 22px;
    }

    .submit-name-info {
        padding: 0 0 0 12px;

        p {
            font-size: 12px;
            line-height: 14px;
        }
    }

    .submit-name-button {
        padding: 0 12px;

        button {
            font-size: 12px;
            height: 30px;
            line-height: 14px;
            width: 118px;
        }
    }
}


// Animated classes 

.closeSpeakOutWindow {
    -webkit-animation: closeSpeakOutWindow $animSpeakOutWindow linear 1 forwards;
            animation: closeSpeakOutWindow $animSpeakOutWindow linear 1 forwards;
}