/* Header styles from the home page */

header {
    background-image: url(./../../../assets/papa.png);
    color: $primary;
    height: 740px;
    overflow: hidden;
    position: relative;

    h1 {
        margin-bottom: 25px;
    }
}


/////* Person info element */////

.header-cont {
    margin-left: -653px;
    padding: 170px 0 0 132px;
    position: relative;

    -webkit-animation: animateheadercont $timeAnimHeaderCont linear 1 forwards;

            animation: animateheadercont $timeAnimHeaderCont linear 1 forwards;

    > div {
        overflow: hidden;
        position: relative;
        width: 500px;
    }
}

.blured-cont-pope {
    height: 379px;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: 1;
}

.blured-layer-pope{
    background-image: url(./../../../assets/papa.png);
    background-position: -138px -170px;
    -webkit-filter: blur(18px);
            filter: blur(18px);
    height: inherit;
    position: relative;
    width: 100%;
}

.general-info-pope {
    position: relative;
    background-color: rgba(0, 0, 0, 0.45);
    padding: 37px 37px 32px 34px;
    z-index: 2;
}

.first-quest-pope {
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 8px;
}

.info-pope {
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 22px;
    width: 400px;
}

.wiki-info-pope {
    align-items: center;
    display: flex;
    margin-bottom: 40px;

    a {
        color: $primary;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        margin-left: 5px;
        text-decoration: underline;

        &:hover {
            opacity: 0.9;
        }
    }
}

.last-quest-pope {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.thumb-panel-pope, .thumb-up-pope, .thumb-down-pope {
    display: flex;
    justify-content: center;
}

.thumb-up-pope, .thumb-down-pope {
    align-items: center;
    height: 80px;
    width: 250px;
}

.thumb-up-pope {
    background-color: rgba(28,187,180,0.90196);
}

.thumb-down-pope {
    background-color: rgba(255,173,29,0.90196);
}

.closing-pope {
    bottom: 0;
    display: flex;
    justify-content: center;
    height: 51px;
    margin-left: 1300px;
    position: absolute;
    width: 100%;

    -webkit-animation: animHeaderCloseBar $timeAnimHeaderCloseBar linear 1 forwards;

            animation: animHeaderCloseBar $timeAnimHeaderCloseBar linear 1 forwards;
}

.closing-left-pope {
    height: inherit;
    width: 32.5%;
}

.closing-right-pope {
    height: inherit;
    width: 67.5%;
}

.daysleft-pope-cont, .closing-pope-cont{
    align-items: center;
    display: flex;
    height: inherit;

    span {
        font-weight: 400;
    }
}

.closing-pope-cont {
    background-color: rgba(112,112,112,0.30196);
    justify-content: flex-end;

    .closing-in {
        font-size: 13px;
        line-height: 21px;
        margin: 3px 10px 0px 0;
    }
}

.daysleft-pope-cont {
    background-color: rgba(255,255,255,0.70196);
    justify-content: flex-start;
    position: relative;

    .days-left {
        color: $secondary;
        font-size: 37px;
        line-height: 50px;
        margin-left: 9px;
    }
}


/* Devices Styles Res: <= 920px */

@media only screen and (max-width: 920px){

    header {
        background-size: cover;
        height: 555px;
    
        h1 {
            font-size: 45px;
            line-height: 45px;
            margin-bottom: 19px;
        }
    }
    
    
    /////* Person info element */////
    
    .header-cont {
        padding: 127px 0 0 98px;
    
        > div {
            width: 375px;
        }
    }
    
    .blured-cont-pope {
        height: 290px;
    }
    
    .blured-layer-pope{
        background-position: -109px -141px;
        background-size: 270%;
    }
    
    .general-info-pope {
        padding: 27px 27px 24px 25px;
    }
    
    .first-quest-pope {
        font-size: 13px;
        line-height: 15px;
        margin-bottom: 6px;
    }
    
    .info-pope {
        font-size: 17px;
        line-height: 18px;
        margin-bottom: 17px;
        width: 300px;
    }
    
    .wiki-info-pope {
        margin-bottom: 30px;
    
        a {
            font-size: 12px;
            line-height: 18px;
            margin-left: 4px;
        }
    }
    
    .last-quest-pope {
        font-size: 15px;
        line-height: 18px;
    }
    
    .thumb-up-pope, .thumb-down-pope {
        height: 60px;
        width: 188px;

        img {
            height: 28px;
        }
    }
    
    .closing-pope {
        height: 38px;
    }
    
    .closing-pope-cont {
    
        .closing-in {
            font-size: 11px;
            line-height: 16px;
        }
    }
    
    .daysleft-pope-cont {
    
        .days-left {
            font-size: 28px;
            line-height: 38px;
            margin-left: 7px;
        }
    }
}


/* Devices Styles Res: <= 700px */

@media only screen and (max-width: 700px) {

    header {
        height: 416px;
    
        h1 {
            font-size: 33px;
            line-height: 33px;
            margin-bottom: 14px;
            margin-left: -3px;
        }
    }
    
    
    /////* Person info element */////
    
    .header-cont {
        padding: 95px 0 0 73px;
    
        > div {
            width: 281px;
        }
    }
    
    .blured-cont-pope {
        height: 229px;
    }
    
    .blured-layer-pope{
        background-position: -71px -95px;
        background-size: 252%;
    }
    
    .general-info-pope {
        padding: 20px 20px 18px 18px;
    }
    
    .first-quest-pope {
        font-size: 11px;
        line-height: 12px;
        margin-bottom: 5px;
    }
    
    .info-pope {
        font-size: 14px;
        line-height: 14px;
        margin-bottom: 13px;
        width: 250px;
    }
    
    .wiki-info-pope {
        margin-bottom: 22px;
    
        a {
            font-size: 11px;
            line-height: 14px;
            margin-left: 4px;
        }
    }
    
    .last-quest-pope {
        font-size: 13px;
        line-height: 14px;
    }
    
    .thumb-up-pope, .thumb-down-pope {
        height: 45px;
        width: 141px;

        img {
            height: 21px;
        }
    }
    
    .closing-pope {
        height: 29px;
    }
    
    .closing-pope-cont {
    
        .closing-in {
            font-size: 11px;
            line-height: 12px;
            margin: 3px 10px 3px 0;
        }
    }
    
    .daysleft-pope-cont {
    
        .days-left {
            font-size: 21px;
            line-height: 28px;
            margin-left: 6px;
        }
    }
}


/* Devices Styles Res: <= 480px */

@media only screen and (max-width: 480px) {

    header {
        height: 380px;
    
        h1 {
            font-size: 21px;
            line-height: 22px;
            margin-bottom: 10px;
            margin-left: -2px;
        }
    }
    
    
    /////* Person info element */////
    
    .header-cont {
        padding: 72px 0 0 20px;
    }

    .blured-cont-pope {
        height: 213px;
    }

    .blured-layer-pope{
        background-position: -27px -79px;
        background-size: 244%;
    }
}