// colors

$primary: #ffffff;
$secondary: #464646;
$grey-light: #333333;
$thumb-bg-blue: #1cbbb4;
$thumb-bg-orange: #ffad1d;
$vote-bg-blue: rgba(28,187,180,0.70196);
$vote-bg-orange: rgba(255,173,29,0.70196);