// colors

$primary: #ffffff;
$secondary: #464646;
$brown-dark: #333333;
$brown-light: #666666;
$thumb-bg-blue: #1cbbb4;
$thumb-bg-orange: #ffad1d;
$vote-bg-blue: rgba(28,187,180,0.70196);
$vote-bg-orange: rgba(255,173,29,0.70196);


// animations times

$animSpeakOutWindow: 0.4s;
$dropMenuTime: 0.4s;
$hamburgerTime: 0.2s;